
.bg-change {
    background-color: blue !important;
    color: blue !important;
    font-weight: bold;
}

.bg-change-2 {
    background-color: blue !important;
    color: blue !important;
    font-weight: bold;
}







